body {
    --theme-primary-color: white;
    --theme-secondary-color: black;
    --theme-accent-color: rgb(9, 120, 194);
    background-color: var(--theme-primary-color);
    color: var(--theme-secondary-color);
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 100%;
}
img {
    max-width: 15rem;
}
.discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-size: 1.5rem;
}
#discover-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#discover-details * {
    margin: 0.25rem;
}
#discover-contact {
    word-wrap: break-word;
}
#discover-details img {
    max-width: 15rem;
    max-height: 15rem;
}
#discover-resources {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.discover-resource {
    padding: 2rem;
    max-width: 15rem;
}
.discover-resource-icon {
    height: 3rem;
    width: 3rem;
}
#discover-groups {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.discover-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#discover-connections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
#discover-groups,
#discover-connections {
    margin-left: 10vw;
    margin-right: 10vw;
}
.discover-connection {
    width: fit-content;
    border: 0.15rem solid var(--theme-accent-color);
    padding: 1rem;
    margin: 0.25rem;
}
.discover-connection-preview {
    display: flex;
    flex-direction: column;
}
.discover-widget {
    width: 50vw;
    height: 60vh;
}
